/* * {
  margin: 0;
} */

@font-face {
  font-family: "harryp";
  src: url("font/harryp__-webfont.woff2") format("woff2");
}

body {
  background-color: #010326;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  background-color: #590219;
  padding: 2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  grid-template-rows: auto 1fr;
}

img {
  width: 10%;
}

section {
  grid-row: 1;
  grid-column: 2;
  margin-bottom: 2rem;
}

.section_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.info_box {
  grid-column: 1;
  grid-row: 1/6;
  background-color: #0f1640;
  width: 100%;
  height: 75%;
  place-content: center;
}

#full_student_list {
  width: 100%;
  gap: 10px;
  text-align: center;
  grid-column: 2;
  grid-row: 2;
}

#search {
  margin-bottom: 2rem;
  color: #d9a443;
  font-family: "Open Sans", sans-serif;
  border: none;
  font-size: 0.8rem;
  padding: 10px;
  background-color: #0f1640;
  width: 86%;
}

/********************** GENERAL **********************/

h1 {
  font-family: "harryp";
  font-size: 7rem;
  color: #d9a443;
  text-shadow: 0 0 7px #f29c50;
  margin: 1rem;
}

h2 {
  font-family: "harryp";
  font-size: 4rem;
  color: #d9a443;
  margin: 1rem;
}

p {
  color: #d9a443;
  font-family: "harryp";
  letter-spacing: 1px;
}

.info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_box p {
  margin: 0;
}

/********************** TEXT **********************/
#sorting th {
  color: #d9a443;
  font-family: "harryp";
  padding: 1rem;
  letter-spacing: 1px;
}

td {
  color: #d9a443;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #d9a443;
  padding: 1rem;
  font-size: 0.8rem;
}

.buttons,
p {
  text-align: left;
}

td button,
.filter {
  font-family: "Open Sans", sans-serif;
  font-size: 9px;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  border: none;
  background-color: #0f1640;
  color: #d9a443;
  margin: 10px;
}

.filter:hover {
  box-shadow: 0 0 10px #d9a443;
}

.hide {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #d9a54388;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: #010326;
  padding: 4rem;
  border-radius: 1rem;
  position: relative;
}

.close_button {
  position: absolute;
  right: -1rem;
  top: -0.8rem;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background-color: #d9a443;
  border: none;
}

.pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #d9a54388;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog_pop {
  background-color: #010326;
  padding: 4rem;
  border-radius: 1rem;
  position: relative;
  height: 40vw;
  width: 40vw;
}

.close_button_pop {
  position: absolute;
  right: -1rem;
  top: -0.8rem;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background-color: #d9a443;
  border: none;
}
