/* * {
  margin: 0;
} */

@font-face {
  font-family: "harryp";
  src: url("font/harryp__-webfont.woff2") format("woff2");
}

body {
  background-color: #010326;
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

main {
  grid-column: 2;
}

#full_student_list {
  width: 100%;
  gap: 10px;
  text-align: center;
}

/********************** GENERAL **********************/

h1 {
  font-family: "harryp";
  font-size: 7rem;
  color: #d9a443;
  text-align: center;
}

p {
  color: #d9a443;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.3rem;
}

/********************** TEXT **********************/

#sorting {
  color: #d9a443;
  font-family: "Playfair Display", serif;
}

#sorting,
tr {
  color: #d9a443;
}

.buttons,
p {
  grid-column: 2;
  text-align: center;
}

.filter {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
  border: none;
  background-color: #d9a443;
  color: white;
  margin-left: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
