/* * {
  margin: 0;
} */

@font-face {
  font-family: "harryp";
  src: url("font/harryp__-webfont.woff2") format("woff2");
}

body {
  background-color: #010326;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  padding: 2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  grid-template-rows: auto 1fr;
}

img {
  width: 12%;
}

h1 {
  font-family: "harryp";
  font-size: 8rem;
  color: #d9a443;
  text-shadow: 0 0 9px #6f7ab6;
  margin: 1rem;
}

h2 {
  font-family: "harryp";
  font-size: 4rem;
  color: #d9a443;
  margin: 1rem;
  text-align: center;
}

p {
  color: #d9a443;
  font-family: "harryp";
}

section {
  grid-row: 1;
  grid-column: 2;
  margin-bottom: 2rem;
}

button,
th,
.cursor {
  cursor: pointer;
}

/********************** FIRST SECTION **********************/

.section_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.info_box {
  grid-column: 1;
  grid-row: 1/6;
  background-color: #0f1640;
  /* background-image: url("images/paper.jpg"); */
  width: 100%;
  height: 75%;
  place-content: center;
  border-radius: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_box p {
  margin: 0;
}

/********************** SEARCH **********************/

#search {
  margin-bottom: 2rem;
  color: #d9a443;
  font-family: "Open Sans", sans-serif;
  border: none;
  font-size: 0.8rem;
  padding: 1rem;
  background-color: #0f1640;
  width: 80%;
}

/********************** STUDENT LIST **********************/

#full_student_list {
  width: 100%;
  gap: 1rem;
  text-align: center;
  grid-column: 2;
  grid-row: 2;
}

td {
  color: #d9a443;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #d9a443;
  padding: 1rem;
  font-size: 0.8rem;
}

#sorting th {
  color: #d9a443;
  font-family: "harryp";
  padding: 1rem;
}

/********************** BUTTONS **********************/

.buttons,
p {
  text-align: left;
}

.info,
.filter,
#removea,
#removeb {
  font-family: "Open Sans", sans-serif;
  font-size: 9px;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  border: none;
  background-color: #0f1640;
  color: #d9a443;
  margin: 10px;
}

.filter:hover,
.info:hover,
#removea:hover,
#removeb:hover,
.expel:hover {
  box-shadow: 0 0 10px #d9a443;
}

/********************** POPUP EFFECTS **********************/

.hide {
  visibility: hidden;
}

/********************** POPUP PREFECT **********************/

.modal_pop_prefect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #d9a54388;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_pop_prefect p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.dialog_prefect {
  background-color: #010326;
  padding: 4rem;
  border-radius: 1rem;
  position: relative;
  width: 30vw;
  text-align: center;
  border: 1px solid #d9a443;
}

.close_button_prefect {
  position: absolute;
  right: -1rem;
  top: -0.8rem;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background-color: #d9a443;
  border: none;
}

/********************** POPUP INQUISITORIAL **********************/

.modal_pop_inquisitorial {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #d9a54388;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_pop_inquisitorial p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.dialog_inquisitorial {
  background-color: #010326;
  padding: 4rem;
  border-radius: 1rem;
  position: relative;
  width: 30vw;
  text-align: center;
  border: 1px solid #d9a443;
}

.close_button_inquisitorial {
  position: absolute;
  right: -1rem;
  top: -0.8rem;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background-color: #d9a443;
  border: none;
}

/********************** POPUP INFORMATION **********************/

.modal_pop_student {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #d9a54388;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_pop_student p {
  font-family: "Open Sans", sans-serif;
}

.dialog_student {
  background-color: #010326;
  padding: 4rem;
  border-radius: 1rem;
  position: relative;
  height: 40vw;
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  border: 1px solid #d9a443;
}

.close_button_student {
  position: absolute;
  right: -1rem;
  top: -0.8rem;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background-color: #d9a443;
  border: none;
}

.expel {
  position: absolute;
  right: 1.5rem;
  top: 37rem;
  font-family: "harryp";
  font-size: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  border: none;
  background-color: #d9a443;
  color: #0f1640;
  margin: 10px;
}

.image {
  grid-column: 1;
}

.student_info {
  grid-column: 2;
}

#popup_student h2 {
  grid-column: 1/3;
}

#popup_student img {
  width: 67%;
  place-content: center;
}

.red {
  background-color: #490503;
  border: 1px solid #f2a206;
}

.green {
  background-color: #025939;
  border: 1px solid #bfa004;
}

.yellow {
  background-color: #13191b;
  border: 1px solid #f2a206;
}

.blue {
  background-color: #0e1a40;
  border: 1px solid #946b2d;
}
